/* CONFIGURAÇÕES GERAIS */

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

ul {
     list-style: none;
}

/* BODY */

body {
     max-width: 1280px;
     margin: 0 auto;
     background-color: #5e5b5bad;
     color: #333;
}

body.modo-escuro {
     background-color: #212121;
     color: #f5f5f5;
}

/* HEADER */

#header {
     display: flex;
     justify-content: space-between;
     padding: 1.5em;
}

#header .logo,
#header .imagem-botao {
     width: 30px;
}

#header #botao-alterar-tema,
#header .logo {
     transition: .2s ease-in-out;
}

#header #botao-alterar-tema {
     background: none;
     border: none;
     cursor: pointer;
}

#header .logo:hover,
#header #botao-alterar-tema:hover {
     transform: scale(1.2);
}

/* CONTAINER POKEMON CARDS */

#container {
     padding: 1.5em;
}

.listagem-pokemon {
     display: flex;
     flex-wrap: wrap;
     gap: 1.8em;
     justify-content: center;
}

.cartao-pokemon {
     background-color: #d8e3ec;
     width: 200px;
     padding: 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1em;
     border-radius: 15px;
     transition: 0.2s ease-in-out;
}

.cartao-pokemon:hover {
     transform: scale(1.05);
     background-color: #96d9d6;
     cursor: pointer;
}

.modo-escuro .cartao-pokemon {
     background-color: #a8a8a8;
}

.cartao-pokemon .informacoes {
     display: flex;
     justify-content: space-between;
     border: 1px solid #333;
     border-radius: 10px;
}

.cartao-pokemon .informacoes span{
     padding: .3em;
     text-transform: uppercase;
     font-size: 1.1em;
}

.cartao-pokemon .gif{
     width: 80px;
     height: 80px;
     margin: .5em;
}

.cartao-pokemon .tipos {
     display: flex;
     gap: .5em;
}

/* TIPO POKEMON */

.tipo-grama,
.tipo-veneno,
.tipo-fogo,
.tipo-voador,
.tipo-agua,
.tipo-inseto,
.tipo-normal,
.tipo-eletrico,
.tipo-terrestre {
     padding: .5em;
     border-radius: 10px;
}

.tipo-grama {
     background-color: #7ac74c;
}
.tipo-veneno {
     background-color: #df67ddfb;
}
.tipo-fogo {
     background-color: #ee8130;
}
.tipo-agua {
     background-color: #6390f0;
}
.tipo-inseto {
     background-color: #a6b91a;
}
.tipo-voador {
     background-color: #84b2cc;
}
.tipo-normal {
     background-color: #B4B4B4;
}
.tipo-eletrico {
     background-color: #dbdb25;
}
.tipo-terrestre {
     background-color: #838300;
}

#container .cartao-pokemon p {
     max-height: 5em;
     overflow-y: scroll;
     font-size: .9em;
     padding-right: .5em;
}

@media (max-width: 450px) {
     .cartao-pokemon {
          width: 300px;
     }
}

